<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <ros2_control name="MobileManipulatorGazeboHardware" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin> 
    </hardware>

    <joint name="left_wheel">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="right_wheel">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="fl_castor_wheel"><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="fr_castor_wheel"><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="rr_castor_wheel"><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="rl_castor_wheel"><state_interface name="position"/><state_interface name="velocity"/></joint>

    <joint name="fl_wheel"><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="fr_wheel"><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="rr_wheel"><state_interface name="position"/><state_interface name="velocity"/></joint>
    <joint name="rl_wheel"><state_interface name="position"/><state_interface name="velocity"/></joint>

    <joint name="joint1">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint2">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint3">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint4">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint5">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint6">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint7">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find mobile_manipulator_description)/config/gazebo_controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>